In [1]:
import yfinance as yf

In [17]:
tickers = "^JKSE BREN.JK"

data = yf.download(tickers, start="2023-10-09", end="2025-10-05", interval='1d', multi_level_index=False)

data

C:\Users\USER DK\AppData\Local\Temp\ipykernel_1332\953893185.py:3: FutureWarning: YF.download() has changed argument auto_adjust default to True
  data = yf.download(tickers, start="2023-10-09", end="2025-10-05", interval='1d', multi_level_index=False)
[*********************100%***********************]  2 of 2 completed

Price             Close                      High                       Low  \
Ticker          BREN.JK        ^JKSE      BREN.JK        ^JKSE      BREN.JK
Date
2023-10-09   973.590942  6891.455078   973.590942  6929.971191   973.590942
2023-10-10  1213.244019  6922.187988  1213.244019  6954.008789  1058.468033
2023-10-11  1512.810547  6931.752930  1512.810547  6965.825195  1512.810547
2023-10-12  1887.268555  6935.150879  1887.268555  6986.882812  1817.369719
2023-10-13  2356.589355  6926.779785  2356.589355  6973.751953  2236.762778
...                 ...          ...          ...          ...          ...
2025-09-29  9675.000000  8123.245117  9950.000000  8157.330078  8975.000000
2025-09-30  9375.000000  8061.062012  9800.000000  8150.341797  9275.000000
2025-10-01  9150.000000  8043.821777  9500.000000  8093.693848  9150.000000
2025-10-02  9175.000000  8071.081055  9275.000000  8109.436035  9025.000000
2025-10-03  9550.000000  8118.300781  9800.000000  8118.300781  9350.000000

Price                           Open                  Volume
Ticker            ^JKSE      BREN.JK        ^JKSE    BREN.JK      ^JKSE
Date
2023-10-09  6880.538086   973.590942  6888.518066   22298500  139709000
2023-10-10  6891.455078  1058.468033  6891.455078   13625200  123670000
2023-10-11  6914.721191  1512.810547  6922.187988   38431400  178123100
2023-10-12  6931.889160  1887.268555  6931.889160  219262300  218808900
2023-10-13  6902.059082  2356.589355  6934.877930   39504100  216335000
...                 ...          ...          ...        ...        ...
2025-09-29  8100.017090  9025.000000  8139.579102  102431800  439450000
2025-09-30  8042.823242  9800.000000  8137.634766   39361700  461651600
2025-10-01  8034.250000  9425.000000  8069.937012   31562600  536747800
2025-10-02  8059.048828  9175.000000  8070.424805   23891800  402266500
2025-10-03  8076.597168  9375.000000  8099.645020   53213300  428024700

[471 rows x 10 columns]

In [43]:
Clean_data = data['Close'].rename(columns={'^JKSE': 'Close_IHSG', 'BREN.JK': 'Close_BREN'})

Clean_data = Clean_data[['Close_IHSG', 'Close_BREN']]

Clean_data.index.name = 'Date'
Clean_data.columns.name = None

Clean_data

             Close_IHSG   Close_BREN
Date
2023-10-09  6891.455078   973.590942
2023-10-10  6922.187988  1213.244019
2023-10-11  6931.752930  1512.810547
2023-10-12  6935.150879  1887.268555
2023-10-13  6926.779785  2356.589355
...                 ...          ...
2025-09-29  8123.245117  9675.000000
2025-09-30  8061.062012  9375.000000
2025-10-01  8043.821777  9150.000000
2025-10-02  8071.081055  9175.000000
2025-10-03  8118.300781  9550.000000

[471 rows x 2 columns]

In [37]:
print("\nMising values:\n", data.isnull().sum().values.sum())

Mising values:
 0

In [47]:
Clean_data.to_excel('Historical_Data.xlsx', index=True)